{% extends 'new-base.html' %}

{% block top_bar_right_menus %}
{% endblock top_bar_right_menus %}

{% block button_sign_toggle %}
  <div class="flex items-center justify-center gap-8">
    <div id="suggestion-sign" class="font-medium text-[18px]">
        Don’t have an account?
      </div>
      <a
        id="btnSign"
        style="text-decoration: none; color: white"
        href="#"
        target="_self"
        class="text-[18px] font-semibold px-8 py-3 rounded-2xl gradient-border-no-glow"
        onclick="toggleSign()"
      >
        Sign Up
      </a>
  </div>
{% endblock button_sign_toggle %}
