{% extends 'new-base.html' %}

{% load static %}

{% block head_title %}Oops!{% endblock head_title %}

{% block content %}

<div class="w-[90vw] mx-auto text-center text-white text-[24px] flex flex-col gap-2 items-center justify-center">
    <p class="text-[24px] font-bold">Competition is not created</p>
    <p>If you are the organizer, create competition <a class="text-[#9affff] hover:underline hover:scale-105" href="/competitions/s3_create_competition">NOW</a>.
    </p>
</div>
{% endblock content %}

