<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HaUI Hackathon</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Nunito&display=swap" rel="stylesheet" />
  <style>
    body{
      overflow-x: hidden;
      font-family: "Nunito", sans-serif;
    }
  </style>
</head>

<body>
  <div id="message" style="width: 75vw; margin: 0px 10px;">
    <h1>Mobile detected.</h1>
    <p>For best user experience, this site still does not support mobile at the moment.</p>
    <p>Sorry for your inconvinience !!!</p>
  </div>
</body>

</html>