{% extends 'new-base.html' %}

{% load static %}

{% block head_title %}Home{% endblock %}

{% block content %}
<main class="pt-16">
    <!-- Hero Section Start -->
    <section class="text-white flex flex-col items-center justify-center">
        <div class="font-black text-[56px] max-[1200px]:text-[46px] max-[768px]:text-[36px]">
            HAUI Hackathon
            <span style="text-shadow: 0 0 10px rgba(154, 255, 255, 0.5)" class="text-[#9affff]">/</span>
            <span class="text-[42px] max-[1200px]:text-[32px] max-[768px]:text-[22px] font-medium">2023</span>
        </div>
        <div class="font-semibold text-[24px] max-[1200px]:text-[20px] max-[768px]:text-[16px] max-w-[1085px] text-center">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
        </div>
        <img class="mt-[100px]" src="{%static "img/home/HomeHero.png" %}" alt="#" />
        <!-- <div class="flex gap-16 max-[1200px]:gap-12 max-[768px]:gap-8 items-center w-[90vw] lg:mx-20 md:mx-12">
            <div class="mt-[-200px] backdrop-blur-sm rounded-3xl w-[45vw] h-[30vh] py-10 max-[1200px]:py-8 max-[768px]:py-5 px-14 max-[1200px]:px-10 max-[768px]:px-5 flex gap-12 max-[1200px]:gap-6 max-[768px]:gap-2 bg-[#fff]/[0.24]">
                <div class="rounded-full bg-[#d9d9d9] p-6 w-[120px] h-[120px] max-[1200px]:scale-75 max-[768px]:scale-50">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24">
                        <path fill="#4a4a86"
                            d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0 0 16 9.5A6.5 6.5 0 1 0 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5S14 7.01 14 9.5S11.99 14 9.5 14z" />
                    </svg>
                </div>
                <div class="text-[20px] max-[1200px]:text-[16px] max-[768px]:text-[12px] font-semibold min-[768px]:text-justify">
                    To search for the most talented young professionals and provide
                    them opportunity to exchange and learn this summer.
                </div>
            </div>
            <div class="mt-[-200px] backdrop-blur-sm rounded-3xl w-[45vw] h-[30vh] py-10 max-[1200px]:py-8 max-[768px]:py-5 px-14 max-[1200px]:px-10 max-[768px]:px-5 flex gap-12 max-[1200px]:gap-6 max-[768px]:gap-2 bg-[#fff]/[0.24]">
                <div class="rounded-full bg-[#d9d9d9] p-6 w-[120px] h-[120px] max-[1200px]:scale-75 max-[768px]:scale-50">
                    <svg xmlns="http://www.w3.org/2000/svg" width="70" height="70" viewBox="0 0 24 24">
                        <path fill="#4a4a86"
                            d="M21 4h-3V3a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1v1H3a1 1 0 0 0-1 1v3a4 4 0 0 0 4 4h1.54A6 6 0 0 0 11 13.91V16h-1a3 3 0 0 0-3 3v2a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1v-2a3 3 0 0 0-3-3h-1v-2.09A6 6 0 0 0 16.46 12H18a4 4 0 0 0 4-4V5a1 1 0 0 0-1-1ZM6 10a2 2 0 0 1-2-2V6h2v2a6 6 0 0 0 .35 2Zm8 8a1 1 0 0 1 1 1v1H9v-1a1 1 0 0 1 1-1Zm2-10a4 4 0 0 1-8 0V4h8Zm4 0a2 2 0 0 1-2 2h-.35A6 6 0 0 0 18 8V6h2Z" />
                    </svg>
                </div>
                <div class="text-[20px] max-[1200px]:text-[16px] max-[768px]:text-[12px] font-semibold min-[768px]:text-justify">
                    To become a platform for young talents to gain international
                    exposure and put HAUI, Vietnam in the global map of AI.
                </div>
            </div>
        </div> -->
    </section>
    <!-- Hero Section End -->
    <!-- Awards section Start-->
    <section class="text-white w-[75vw] mx-auto mt-16">
        <div style="text-shadow: 0 0 16px rgba(154, 255, 255, 0.5)" class="text-[50px] font-extrabold">
            Awards
        </div>
        <div class="flex justify-center items-end gap-4 mb-16">
            <div>
                <div class="text-[28px] max-[1200px]:text-[20px] max-[768px]:text-[16px] font-extrabold text-center mb-14">
                    RUNNER PRIZE
                </div>
                <div
                    class="text-[30px] max-[1200px]:text-[22px] max-[768px]:text-[18px] w-[20vw] h-[100px] font-extrabold py-8 max-[1200px]:py-4 max-[768px]:py-2 px-20 max-[1200px]:px-10 max-[768px]:px-4 shadow-[0px_-25px_30px_10px_rgba(151,249,255,0.4)] rounded-xl flex items-center justify-center">
                    1000 USD
                </div>
            </div>
            <div>
                <div class="text-[28px] max-[1200px]:text-[20px] max-[768px]:text-[16px] font-extrabold text-center mb-14">
                    FIRST PRIZE
                </div>
                <div
                    class="text-[30px] max-[1200px]:text-[22px] max-[768px]:text-[18px] w-[22vw] h-[160px] font-extrabold py-8 max-[1200px]:py-4 max-[768px]:py-2 px-20 max-[1200px]:px-10 max-[768px]:px-4 shadow-[0px_-25px_30px_10px_rgba(151,249,255,0.4)] rounded-xl flex items-center justify-center">
                    3500 USD
                </div>
            </div>
            <div>
                <div class="text-[28px] max-[1200px]:text-[20px] max-[768px]:text-[16px] font-extrabold text-center mb-14">
                    SECOND PRIZE
                </div>
                <div
                    class="text-[30px] max-[1200px]:text-[22px] max-[768px]:text-[18px] w-[20vw] h-[130px] font-extrabold py-8 max-[1200px]:py-4 max-[768px]:py-2 px-20 max-[1200px]:px-10 max-[768px]:px-4 shadow-[0px_-25px_30px_10px_rgba(151,249,255,0.4)] rounded-xl flex items-center justify-center">
                    2000 USD
                </div>
            </div>
        </div>
        <div class="text-[36px] max-[1200px]:text-[30px] max-[768px]:text-[24px] font-extrabold text-center">
            TOTAL PRIZE : 15000 USD
        </div>
    </section>
    <!-- Awards section End-->
    <!-- Challenges section Start-->
    <section class="text-white w-[75vw] mx-auto mt-16">
        <div style="text-shadow: 0 0 16px rgba(154, 255, 255, 0.5)" class="text-[50px] font-extrabold">
            Challenges
        </div>
        <div class="flex justify-center gap-12 max-[1200px]:gap-8 max-[768px]:gap-6 my-16">
            <div
                class="h-[18vw] min-w-[18vw] flex flex-col items-center justify-center text-center gradient-border">
                <img src="https://picsum.photos/id/30/800/800" alt="#" class="w-[120px] rounded-sm shadow-sm max-[1200px]:w-[90px] max-[1000px]:w-[50px]" />
                <p class="uppercase font-bold text-[24px] max-[1200px]:text-[18px] max-[1000px]:text-[12px] mt-7">
                    Multiple People Tracking
                </p>
            </div>
            <div>
                <p class="uppercase font-bold text-[32px] max-[1200px]:text-[28px] max-[768px]:text-[24px]">
                    Multiple People Tracking
                </p>
                <p class="font-semibold text-[18px] max-[1200px]:text-[16px] max-[768px]:text-[14px]">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    dipisicing elit, sed do eiusmod tempor incididunt ut tempor
                    incididunt ut labore et dolore magna aliqua. dipisicing elit, sed
                    do eiusmod tempor incididunt ut
                </p>
                <p class="font-semibold text-[18px] max-[1200px]:text-[16px] max-[768px]:text-[14px] mt-5">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                    eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    dipisicing elit, sed do eiusmod
                </p>
            </div>
        </div>
        <div class="flex items-center justify-center">
            <button
                class="w-[200px] max-[1200px]:scale-95 max-[768px]:scale-90 h-[60px] bg-gradient-to-r from-[#9affff] to-[#478eee] rounded-lg shadow-[0_0_20px_5px_rgba(154,255,255,0.5)] text-[22px] font-semibold">
                Get Started
            </button>
        </div>
        <div class="mt-[130px] max-[768px]:mt-[30px] flex items-center gap-9">
            <button onclick="sliderBack()">
                <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 512 512">
                    <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                        d="M328 112L184 256l144 144" />
                </svg>
            </button>
            <div class="p-5 overflow-hidden flex justify-center items-center">
                <div id="slider-1"
                    class="min-w-full flex justify-center items-center translate-x-[50%] transition duration-700 ease-in-out current-slide">
                    <div class="w-[15vw] h-[15vw] max-w-[330px] max-h-[330px] gradient-border-blur-bg"></div>
                    <div class="w-[15vw] h-[15vw] max-w-[330px] max-h-[330px] gradient-border-blur-bg mx-12"></div>
                    <div class="w-[15vw] h-[15vw] max-w-[330px] max-h-[330px] gradient-border-blur-bg"></div>
                    <br />
                </div>
                <div id="slider-2"
                    class="min-w-full flex justify-center items-center translate-x-[100%] transition duration-700 ease-in-out">
                    <div class="w-[15vw] h-[15vw] max-w-[330px] max-h-[330px] gradient-border-blur-bg"></div>
                    <div class="w-[15vw] h-[15vw] max-w-[330px] max-h-[330px] gradient-border-blur-bg mx-12"></div>
                    <div class="w-[15vw] h-[15vw] max-w-[330px] max-h-[330px] gradient-border-blur-bg"></div>
                    <br />
                </div>
            </div>
            <button onclick="sliderForward()">
                <svg xmlns="http://www.w3.org/2000/svg" width="66" height="66" viewBox="0 0 512 512">
                    <path fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="48"
                        d="m184 112l144 144l-144 144" />
                </svg>
            </button>
        </div>
        <div class="flex justify-center w-12 mx-auto pb-2 gap-5 mt-5">
            <button id="sButton1" onclick="sliderButton1()"
                class="bg-[rgba(255,255,255,0.29)] rounded-full min-w-[25px] min-h-[25px]"></button>
            <button id="sButton2" onclick="sliderButton2() "
                class="bg-[rgba(255,255,255,0.29)] rounded-full min-w-[25px] min-h-[25px]"></button>
        </div>
    </section>
    <!-- Challenges section End-->
    <!-- Timeline section Start-->
    <section class="text-white w-[75vw] mx-auto mt-16">
        <div style="text-shadow: 0 0 16px rgba(154, 255, 255, 0.5)" class="text-[50px] font-extrabold">
            Timeline
        </div>
        <div class="w-full mb-16 relative">
            <svg id="time_line" class="w-full" width="1920" height="317" viewBox="0 0 1920 317" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2004 22C1958.17 -14.5 1732.5 -2.50028 1520.5 125.5C1188.5 341 784.5 372.082 428 212C315.167 161.333 72.4 83.9996 -50 172"
                    stroke="#189E9E" stroke-width="8" stroke-linecap="round" stroke-linejoin="round"
                    stroke-dasharray="4 58" />
            </svg>
            <div id="time_locs" class="w-full absolute top-0 h-full flex items-end justify-center gap-24">
                <div class="h-[210px] w-[70px] flex justify-center">
                    <div class="text-center font-semibold text-[18px] uppercase absolute top-10">
                        Phase 1 starts
                        <br />
                        05/06/2023
                    </div>
                    <div
                        class="w-[70px] h-[70px] rounded-full bg-[rgba(255,255,255,0.1)] flex items-center justify-center">
                        <div
                            class="w-[30px] h-[30px] rounded-full bg-[#9affff] shadow-[0_0_15px_2px_rgba(154,255,255,0.8)] hover:cursor-pointer hover:shadow-[0_0_20px_3px_rgba(154,255,255,0.8)]">
                        </div>
                    </div>
                </div>
                <div class="h-[165px] w-[70px] flex justify-center">
                    <div class="text-center font-semibold text-[18px] uppercase absolute -bottom-5">
                        Registration opens
                        <br />
                        06/06/2023
                    </div>
                    <div
                        class="w-[70px] h-[70px] rounded-full bg-[rgba(255,255,255,0.1)] flex items-center justify-center">
                        <div
                            class="w-[30px] h-[30px] rounded-full bg-[#9affff] shadow-[0_0_15px_2px_rgba(154,255,255,0.8)] hover:cursor-pointer hover:shadow-[0_0_20px_3px_rgba(154,255,255,0.8)]">
                        </div>
                    </div>
                </div>
                <div class="h-[110px] w-[70px] flex justify-center">
                    <div class="text-center font-semibold text-[18px] uppercase absolute top-[140px]">
                        Registration closes
                        <br />
                        30/06/2023
                    </div>
                    <div
                        class="w-[70px] h-[70px] rounded-full bg-[rgba(255,255,255,0.1)] flex items-center justify-center">
                        <div
                            class="w-[30px] h-[30px] rounded-full bg-[#9affff] shadow-[0_0_15px_2px_rgba(154,255,255,0.8)] hover:cursor-pointer hover:shadow-[0_0_20px_3px_rgba(154,255,255,0.8)]">
                        </div>
                    </div>
                </div>
                <div class="h-[100px] w-[70px] flex justify-center">
                    <div class="text-center font-semibold text-[18px] uppercase absolute -bottom-[70px]">
                        Phase 1 ends
                        <br />
                        10/08/2023
                    </div>
                    <div
                        class="w-[70px] h-[70px] rounded-full bg-[rgba(255,255,255,0.1)] flex items-center justify-center">
                        <div
                            class="w-[30px] h-[30px] rounded-full bg-[#9affff] shadow-[0_0_15px_2px_rgba(154,255,255,0.8)] hover:cursor-pointer hover:shadow-[0_0_20px_3px_rgba(154,255,255,0.8)]">
                        </div>
                    </div>
                </div>
                <div class="h-[135px] w-[70px] flex justify-center">
                    <div class="text-center font-semibold text-[18px] uppercase absolute top-[120px]">
                        Phase 2 starts
                        <br />
                        11/08/2023
                    </div>
                    <div
                        class="w-[70px] h-[70px] rounded-full bg-[rgba(255,255,255,0.1)] flex items-center justify-center">
                        <div
                            class="w-[30px] h-[30px] rounded-full bg-[#9affff] shadow-[0_0_15px_2px_rgba(154,255,255,0.8)] hover:cursor-pointer hover:shadow-[0_0_20px_3px_rgba(154,255,255,0.8)]">
                        </div>
                    </div>
                </div>
                <div class="h-[210px] w-[70px] flex justify-center">
                    <div class="text-center font-semibold text-[18px] uppercase absolute bottom-5">
                        Phase 2 starts
                        <br />
                        30/10/2023
                    </div>
                    <div
                        class="w-[70px] h-[70px] rounded-full bg-[rgba(255,255,255,0.1)] flex items-center justify-center">
                        <div
                            class="w-[30px] h-[30px] rounded-full bg-[#9affff] shadow-[0_0_15px_2px_rgba(154,255,255,0.8)] hover:cursor-pointer hover:shadow-[0_0_20px_3px_rgba(154,255,255,0.8)]">
                        </div>
                    </div>
                </div>
                <div class="h-[280px] w-[70px] flex justify-center">
                    <div class="text-center font-semibold text-[18px] uppercase absolute -top-10">
                        Phase 2 starts
                        <br />
                        10/11/2023
                    </div>
                    <div
                        class="w-[70px] h-[70px] rounded-full bg-[rgba(255,255,255,0.1)] flex items-center justify-center">
                        <div
                            class="w-[30px] h-[30px] rounded-full bg-[#9affff] shadow-[0_0_15px_2px_rgba(154,255,255,0.8)] hover:cursor-pointer hover:shadow-[0_0_20px_3px_rgba(154,255,255,0.8)]">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Timeline section End-->
    <!-- Message section Start-->
    <section class="relative text-white w-[75vw] mx-auto mt-32">
        <div class="absolute w-full text-center font-bold text-[24px] translate-y-[-20px]">What others say about HaUI Hackathon</div>
        <div style="border-radius: 26px; max-height: 600px;"
            class="relative in-elements overflow-hidden w-full flex flex-col gap-6 items-center justify-center  min-h-[300px] mb-16 bg-[url('{% static 'img/home/message-bg.png' %}')] bg-cover shadow-[0_0_20px_5px_rgba(154,255,255,0.5)]">
            <!-- content generated by javascript -->
        </div>
    </section>
    <!-- Message section End-->
</main>
{% endblock content %}