{% extends "new-base.html" %}
{% load static %}

{% block head_title %}Forums{% endblock head_title %}

{% block extra_headers %}
<link rel="stylesheet" href="{% static "forums/forums.css" %}">
{% endblock extra_headers %}

{% block content_wrapper %}
<!-- Content Start -->
<section class="text-white grid grid-cols-12 gap-4">
    <!-- Left Bar -->
    <div class="col-span-2 bg-[#313175] h-[100vh] pt-3">
        <div class="flex flex-col">
            <p class="text-[24px] pb-3 mx-auto max-w-[600px]:text-[16px]">MENU</p>
            <a style="text-decoration: none; color: white;" href="{% url 'forum_detail' forum_pk=forum.pk %}"
                class="baritems flex items-center hover:bg-[#111160] px-8 h-[48px]">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path fill="#fff"
                            d="M4 13c.55 0 1-.45 1-1s-.45-1-1-1s-1 .45-1 1s.45 1 1 1zm0 4c.55 0 1-.45 1-1s-.45-1-1-1s-1 .45-1 1s.45 1 1 1zm0-8c.55 0 1-.45 1-1s-.45-1-1-1s-1 .45-1 1s.45 1 1 1zm4 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zm0 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zM7 8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1zm-3 5c.55 0 1-.45 1-1s-.45-1-1-1s-1 .45-1 1s.45 1 1 1zm0 4c.55 0 1-.45 1-1s-.45-1-1-1s-1 .45-1 1s.45 1 1 1zm0-8c.55 0 1-.45 1-1s-.45-1-1-1s-1 .45-1 1s.45 1 1 1zm4 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zm0 4h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1s.45 1 1 1zM7 8c0 .55.45 1 1 1h12c.55 0 1-.45 1-1s-.45-1-1-1H8c-.55 0-1 .45-1 1z" />
                    </svg>
                </div>
                <div class="text-[16px] max-w-[1000px]:hidden">All questions</div>
            </a>
            <a style="text-decoration: none; color: white;" href="{% url 'forum_new_thread' forum_pk=forum.pk %}"
                class="baritems flex items-center hover:bg-[#111160] px-8 h-[48px]">
                <div>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 256 256">
                        <path fill="white"
                            d="M144 180a16 16 0 1 1-16-16a16 16 0 0 1 16 16Zm92-52A108 108 0 1 1 128 20a108.12 108.12 0 0 1 108 108Zm-24 0a84 84 0 1 0-84 84a84.09 84.09 0 0 0 84-84Zm-84-64c-24.26 0-44 17.94-44 40v4a12 12 0 0 0 24 0v-4c0-8.82 9-16 20-16s20 7.18 20 16s-9 16-20 16a12 12 0 0 0-12 12v8a12 12 0 0 0 23.73 2.56C158.31 137.88 172 122.37 172 104c0-22.06-19.74-40-44-40Z" />
                    </svg>
                </div>
                <div class="text-[16px] min-w-[1000px]:hidden">Create new question</div>
            </a>
        </div>
    </div>

    <!-- Main Bar -->
    {% block content %}
    {% endblock content %}
</section>
<!-- Content End -->
{% endblock content_wrapper %}
