{% extends 'base_account.html' %}

{% load account %}
{% load i18n %}

{% block head_title %}Sign In{% endblock head_title %}

{% block content %}
<div class="relative mx-auto flex w-[60vw] flex-row rounded-3xl bg-white items-center mb-16 py-6">
  <!-- Sign in -->
  <div id="screenSignIn" class="flex w-[50%] flex-col items-center gap-2 transition duration-700">
    <div class="text-[32px] font-black w-[200px] h-[50px] text-center text-[#3c3b3b]">Sign In</div>
    <form class="w-[80%]" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      <div>
        <div class="text-[16px] font-bold ml-3">Username</div>
        <input id="id_login" name="login" type="text" class="w-full rounded-lg border border-[#207198] px-4 py-3 text-sm outline-none"
          placeholder="Enter username or email" autofocus/>
        {% for field, msg in form.errors.items %}
        {% if field == "login" %}
          <div class="text-[16px] ml-3 text-[#ff0c3e]">{{ msg }}</div>
        {% endif %}
        {% endfor %}
      </div>
      <div>
        <div class="text-[16px] font-bold ml-3">Password</div>
        <input id="id_password" name="password" type="password" class="w-full rounded-lg border border-[#207198] px-4 py-3 text-sm outline-none"
          placeholder="Enter password" />
        {% for field, msg in form.errors.items %}
        {% if field == "password" %}
          <div class="text-[16px] ml-3 text-[#ff0c3e]">{{ msg }}</div>
        {% endif %}
        {% endfor %}
      </div>
      <div class="flex items-center justify-between gap-2 max-[1000px]:flex-col">
        <div class="flex items-center gap-2">
          <input id="id_remember" name="remember" type="checkbox" class="mt-0.5" />
          <p class="text-[14px] text-[#7b7b7b] mt-1">Remember me</p>
        </div>
        <div class="flex items-center justify-between gap-2 max-[768px]:flex-col">
          <a href="../password/reset/" class="text-[14px] text-black mt-1 hover:cursor-pointer hover:underline">Forgot password?</a>
          <button type="reset" class="text-[14px] text-[#11adad] mt-1 outline-none">Reset</button>
        </div>
      </div>
      <div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        {% for field, msg in form.errors.items %}
          {% if field == "__all__" %}
            <div class="text-[12px] ml-3 text-[#ff0c3e]">{{ msg }}</div>
          {% endif %}
        {% endfor %}
        <button
          type="submit"
          class="w-full mt-3 bg-gradient-to-bl from-[#87f7ff] to-[#4658b1] p-3 rounded-lg text-white font-bold text-[16px]">
          {% trans "Sign In" %}
        </button>
      </div> 
    </form>
  </div>
  <!-- Sign up -->
  <div id="screenSignUp" class="flex w-[50%] flex-col items-center gap-2 transition duration-700">
    <div class="text-[32px] font-black w-[200px] h-[50px] text-center text-[#3c3b3b]">Sign Up</div>
    <form class="w-[80%]" id="signup_form" method="post" action="{% url 'account_signup' %}">
      {% csrf_token %}
      <div>
        <div class="text-[16px] font-bold ml-3">Username</div>
        <input id="id_username" name="username" type="text" class="w-full rounded-lg border border-[#207198] px-4 py-3 text-sm outline-none"
          placeholder="Enter username" />
      </div>
      <div>
        <div class="text-[16px] font-bold ml-3">Email</div>
        <input id="id_email" name="email" type="text" class="w-full rounded-lg border border-[#207198] px-4 py-3 text-sm outline-none"
          placeholder="Enter email" />
      </div>
      <div>
        <div class="text-[16px] font-bold ml-3">Password</div>
        <input id="id_password1" name="password1" type="password" class="w-full rounded-lg border border-[#207198] px-4 py-3 text-sm outline-none"
          placeholder="Enter password" />
      </div>
      <div>
        <div class="text-[16px] font-bold ml-3">Confirm Password</div>
        <input id="id_password2" name="password2" type="password" class="w-full rounded-lg border border-[#207198] px-4 py-3 text-sm outline-none"
          placeholder="Enter password" />
      </div>
      <div class="flex items-center gap-2">
        <input type="checkbox" id="id_accept_rules" name='accept_rules' required="True"/>
        <p class="text-[14px]">I accept the <a href="https://github.com/codalab/codalab-competitions/wiki/Privacy"
            class="text-[14px] text-[#11adad] no-underline hover:underline hover:cursor-pointer">term and
            conditions</a></p>
      </div>
      <div>
        {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
          <button
            type="submit"
            class="w-full mt-3 bg-gradient-to-bl from-[#87f7ff] to-[#4658b1] p-3 rounded-lg text-white font-bold text-[16px]">
            {% trans "Sign Up" %}
          </button>
      </div>
    </form>
  </div>
  <div id="overlay"
    style="background-image: url('/static/img/home/login_overlay_bg.jpg'); background-size: cover; box-shadow: -10px 0px 15px -8px black;"
    class="absolute left-0 top-0 h-full w-[50%] rounded-3xl bg-[#313175] transition duration-700 translate-x-[101%]">
  </div>
</div>
{% endblock %}
