{% extends 'new-base.html' %}

{% load i18n %}

{% block head_title %}Change Password{% endblock head_title %}

{% block content %}
<section class="text-white w-[70vw] mx-auto m-16">
    <div style="border-radius: 26px; background-image: url('/codalab/apps/web/static/img/home/message-bg.png'); background-size: cover;"
        class="w-full flex items-center justify-center min-h-[390px] mb-16 shadow-[0_0_20px_5px_rgba(154,255,255,0.5)]">
        <div class="flex flex-col items-center justify-center w-[60%] text-center gap-10">
            {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="font-semibold text-[20px] text-red-700">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
            {% else %}
                <div class="w-[80%] mx-auto text-[20px] font-semibold">
                    {% if form %}
                        <form method="POST" action="" class="flex flex-col items-center gap-3 justify-center">
                            {% csrf_token %}
                            <div class="grid grid-cols-2 items-center justify-center">
                                <label for="id_password1" class="text-left">New Password:</label>
                                <input id="id_password1" name="password1" placeholder="Password" type="password" autofocus="" class="px-3 py-2 text-gray-700 rounded-lg">
                            </div>
                            <div class="grid grid-cols-2 items-center justify-center">
                                <label for="id_password2" class="text-left">New Password (again):</label>
                                <input id="id_password2" name="password2" placeholder="Password" type="password" class="px-3 py-2 text-gray-700 rounded-lg">
                            </div>
                            <input type="submit" class="bg-green-600 py-3 px-4 rounded-3xl text-white hover:scale-105 hover:shadow-xl hover:cursor-pointer mt-2" name="action" value="Set new password">
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                        <p><a href="{% url 'account_login' %}" class="text-blue-500">Sign In</a></p>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</section>
{% endblock %}
