{% extends "new-base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}
    <section class="text-white w-[70vw] mx-auto mt-32 mb-16">
        <div style="border-radius: 26px; background-image: url('/codalab/apps/web/static/img/home/message-bg.png'); background-size: cover;"
            class="w-full flex items-center justify-center min-h-[390px] mb-16 shadow-[0_0_20px_5px_rgba(154,255,255,0.5)]">
            <div class="flex flex-col items-center justify-center w-[60%] text-center gap-10">
                <div class="font-bold text-[50px]">
                    {% trans "Verify Your E-mail Address" %}
                </div>
                <div class="font-semibold text-[20px]">
                    {% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process.{% endblocktrans %}
                </div>
            </div>
        </div>
    </section>
    {% if user.is_authenticated %}
        <script>
            window.location.href="/";
        </script>
    {% endif %}
{% endblock %}
